{% extends "plantilla.html" %} {% block title %}ForestLog | Iniciar
sesión{%endblock title %} {% block style%}
<style>
  @import url({{url_for("static", filename= "css/reset.css")}});
  @import url({{url_for("static", filename= "css/form-styles.css")}});
</style>
{% endblock style%} {% block content %}
<div class="wrapper">
  <form action="" method="post">
    <h1>Iniciar sesión</h1>
    <div class="input-box">
      <input type="text" name="username" id="usuario" placeholder="Usuario" />
      <i class="bx bxs-user"></i>
    </div>
    <div class="input-box">
      <input
        type="password"
        name="password"
        id="contrasenia"
        placeholder="Contraseña"
      />
      <i class="bx bxs-lock-alt"></i>
    </div>
    <button type="submit" class="btn">Iniciar sesión</button>
    <div class="register-link">
      <p>¿No tienes una cuenta? <a href="#">Registrate</a></p>
    </div>
  </form>
</div>

{% endblock content %}
